@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background: hsl(204, 43%, 93%);
}

h2 {
  font-size: 2rem;
  padding-bottom: 1rem;
  font-weight: 900;
}

p {
  line-height: 2;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}

.attribution a {
  color: hsl(180, 46%, 40%);
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 700;
}

.codedby-descp {
  font-size: 1.7rem;
  font-weight: 700;
  padding: 0 1rem 0 0.4rem;
  color: rgb(41, 41, 41);
}

button {
  padding: 1.7rem 10rem;
  border: none;
  outline: none;
  border-radius: 5px;
  margin: 3rem 2rem 0 0;
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
  background: hsl(71, 73%, 54%);
}

.pricing-container {
  height: 100%;
  width: 90%;
  margin: 2rem auto;
}

.box {
  height: 100%;
  width: 100%;
  padding: 3rem 2rem;
}

.detail {
  background: white;
  border-radius: 10px 10px 0 0;
  color: rgba(125, 125, 125, 0.9);
}

.detail h2 {
  color: hsl(179, 62%, 43%);
}

.detail h4 {
  color: hsl(71, 73%, 54%);
  font-size: 1.7rem;
  font-weight: 700;
  padding: 2rem 0;
}
.subscription-detail {
  background: hsl(179, 62%, 43%);
  color: white;
}

.amount {
  font-size: 4rem;
  font-weight: 900;
}

.packages {
  background: hsl(179, 62%, 49%);
  border-radius: 0 0 10px 10px;
  color: rgba(255, 255, 255, 0.95);
}

.what-we-offer {
  padding-top: 1rem;
}

@media screen and (min-width: 700px) {
  /* .pricing-container {
    width: 60%;
  } */
  .detail p {
    width: 70%;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .pricing-container {
    margin: 4rem auto;
  }

  .box {
    padding: 3rem 5rem;
  }

  .packages {
    border-radius: 0 0 10px 0;
  }

  .subscription-detail {
    border-radius: 0 0 0 10px;
  }

  p {
    line-height: 1.5;
  }
}

@media screen and (min-width: 1200px) {
  .pricing-container {
    width: 60%;
  }

  .attribution {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
